ACCESS_TOKEN_EXPIRE_MINUTES=60.0
ADMIN_EMAIL=xxxx@xxx.com
ADMIN_PASSWORD=xxxxxx
ALGORITHM=HS256
BASE62_ALPHABET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DATABASE_URL=postgresql://xxxxxxxx
FRONTEND_APP_URL=https://xxxxx.vercel.app/
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
